<!-- Detail panel -->
<mat-card class="panel-card detail-card mat-elevation-z2">
  <mat-card-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Summary">
        <div class="tab-content tab-pad">
          <app-summary-tab></app-summary-tab>
        </div>
      </mat-tab>

      <mat-tab label="Attribution">
        <div class="tab-content tab-pad">
          <app-attribution-tab></app-attribution-tab>
        </div>
      </mat-tab>

      <mat-tab label="Securities">
        <div class="tab-content tab-pad">
          <app-securities-tab></app-securities-tab>
        </div>
      </mat-tab>

      <mat-tab label="Notes">
        <div class="tab-content tab-pad">
          <app-notes-tab></app-notes-tab>
        </div>
      </mat-tab>

      <mat-tab label="Explain">
        <div class="tab-content tab-pad">
          <app-explain-tab></app-explain-tab>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
