<ng-container *ngIf="selected(); else empty">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Summary">
      <app-summary-tab></app-summary-tab>
    </mat-tab>
    <mat-tab label="Attribution">
      <app-attribution-tab></app-attribution-tab>
    </mat-tab>
    <mat-tab label="Securities">
      <app-securities-tab></app-securities-tab>
    </mat-tab>
    <mat-tab label="Notes">
      <app-notes-tab></app-notes-tab>
    </mat-tab>
    <mat-tab label="Explain">
      <app-explain-tab></app-explain-tab>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #empty>
  <div class="empty">Select a portfolio from the grid above.</div>
</ng-template>
