
IBOR Platform Requirements
=======================
Objective: Build an IBOR platform that should:
1. Display transactions by an asset class
2. Display Positions on those transaction (long / short)
3. Display cash ladder (cash inflow/outflow) of next 7 days
4. User should be able to select the position by Portfolio / Account

Proposal:
1. Setup Kafka topics for each asset class (Bonds / Equities / FX Rates)
2. Develop a Sprinb boot service that wil listen to these topics and store the data in a db (warehouse / star schema)
3. Develop a batch scheduler in AWS Glue that will periodically take these transactions and create positions out of them. Each transaction is linked to a 
4. These positions will be linked to portfolio / account, and cash events will be linked to portfolio / account.

