@import './variables';

$bg-color: #0f172a;        // deep slate
$text-color: #f9fafb;      // near-white
$muted-color: #94a3b8;     // lighter slate
$border-color: #1e293b;    // dark gray
$accent-color: #818cf8;    // light indigo

$panel-bg: #1e293b;
