<ng-container *ngIf="vm() as m">
  <div *ngIf="m.error" style="color:#ff8a80; font-weight:600; margin-bottom:8px;">Error: {{m.error}}</div>

  <ng-container *ngIf="m.data as d">
    <p>As of: {{ d['asOfDate'] }}</p>
    <table class="data-table">
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Segment</th>
          <th class="num">Weight %</th>
          <th class="num">Return %</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of d.securities">
          <td>{{ s.ticker }}</td>
          <td>{{ s.segment }}</td>
          <td class="num">{{ s.weight   | percent:'1.2-2' }}</td>
          <td class="num">{{ s.returnPct| percent:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ng-container>
